<head>
    <style>
       #map {
        height: 400px;
        width: 100%;
       }
    </style>
    <link rel="stylesheet" href="slider-pro/css/slider-pro.min.css"/>
</head>

<h1>Munich MTB Spots Map</h1>
<div class="fb-like" data-href="http://www.mtb-spots-munich.de/" data-layout="button_count" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>

<p>
        Hi there! Here is a collection of small mountain bike spots I found in Munich. They can be useful for technique training or for having fun ;)
</p>
<div id="map"></div>
<div class="fb-comments" data-href="http://www.mtb-spots-munich.de/" data-numposts="5"></div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.6/handlebars.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.min.js"></script>

<script src="slider-pro/js/jquery.sliderPro.min.js"></script>

<script src="js/init-map.js"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD7KYb7KwOqPC-kSF5bCP2--abf-QXTCCA&callback=initMap"></script>

<!-- iframe
  width="600"
  height="450"
  frameborder="0" style="border:0"
  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyD7KYb7KwOqPC-kSF5bCP2--abf-QXTCCA
    &q=Space+Needle,Seattle+WA" allowfullscreen>
</iframe -->

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.9";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

