<head>
    <style>
       #map {
        height: 400px;
        width: 100%;
       }
    </style>
</head>

<h1>MTB Street Map</h1>
<div id="map"></div>
    <script>
      function initMap() {
        var telekom = {lat: 48.132629, lng: 11.614861};
        var munich = {lat: 48.1548256, lng: 11.4017521}


        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 11,
          center: munich
        });

        var contentString = '<div id="content">'+
            '<div id="siteNotice">'+
            '</div>'+
            '<h1 id="firstHeading" class="firstHeading">Skinny bench</h1>'+
            '<div id="bodyContent">'+
            '<p>Relatively easy skinny (broad, not high from the ground)</p>'+
            '</div>'+
            '</div>';

        var infowindow = new google.maps.InfoWindow({
          content: contentString
        });

        var marker = new google.maps.Marker({
          position: telekom,
          map: map,
          title: 'Skinny bench'
        });
        marker.addListener('click', function() {
          infowindow.open(map, marker);
        });


      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD7KYb7KwOqPC-kSF5bCP2--abf-QXTCCA&callback=initMap">
    </script>

<!-- iframe
  width="600"
  height="450"
  frameborder="0" style="border:0"
  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyD7KYb7KwOqPC-kSF5bCP2--abf-QXTCCA
    &q=Space+Needle,Seattle+WA" allowfullscreen>
</iframe -->
